---
layout: performance-page.njk
title: Performance
permalink: /performance/
bodyClass: standalone-page
eleventyExcludeFromCollections: true
---

<h1>Performance</h1>

<h2>Description</h2>
<p>Livecoding is the practice of writing code on stage, repeatedly live-compiling and changing it to make music and visuals. Char made her own esolang—a bidirectional visual and text-based programming language—for the visuals; she uses a DSL in JavaScript for the music.</p>
<p>Livecoding is a response to the laptop musician who might press play on a track and then check email: with livecoding, you can see the performer’s screen, so the audience will be sure if email is involved or not.</p>


<h2>Bio</h2>
<p>Char Stiles is a computational artist, educator, and programmer based in Brooklyn, NY. She works creatively in the lower levels of graphical computational systems and makes jokes about how computers work. She co-founded Hex House, an artist studio and hacker space in East Williamsburg.</p>
<img src="/assets/charstiles.png" alt="Char Stiles livecoding" width="1535" height="1024" class="performance-photo">
